<%= form_with(model: @issue, url: user_project_issue_path(
  user_id: current_user.id, project_id: @project.id, id: @issue.id),
  local: true) do |form| %>

  <div class='form-group'>
    <%= form.label :tracker %>
    <%= form.select :tracker, options_for_select(['Defect', 'Feature', 'Patch']),
    class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :subject %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :issue_description %>
    <%= form.rich_text_area :issue_description, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :issue_status %>
    <%= form.select :issue_status, options_for_select(['New', 'Resolved']),
    class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :category %>
    <%= form.select :category, options_for_select(['Accounts/authentication',
    'Administration', 'Attachments', 'Calendar', 'Database', 'Documentation',
    'Email notification', 'Email receiving', 'Files', 'Gantt', 'Issues', 'LDAP',
    'My Page', 'News', 'PDF export', 'Project', 'REST API', 'SCM support',
    'Search Engine', 'Themes', 'UI', 'Wiki']), prompt: ' ',
      class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :estimated_time %>
    <%= form.number_field :estimated_time, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :assignee %>
    <%= form.text_field :assignee, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :files %>
    <%= form.file_field :files, multiple: true, class: 'form-control' %>
  </div>
  <br />

  <%= form.hidden_field :project_id, value: @project.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit 'Update Issue', class: 'btn btn-primary' %>
<% end %>
