<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>You have been assigned to an issue in <strong><%= @project.project_name %>
  </strong></h1>
  <p>
    Dear <%= @user.first_name %>,

    You have been assigned to the issue in the project <%= @project.project_name %>.
    The details are as follows:
  </p>
  <ul>
    <li><strong>Issue Title:</strong> <%= @issue.subject %></li>
    <li><strong>Issue Type:</strong> <%= @issue.tracker %></li>
    <li><strong>Issue Description:</strong> <%= @issue.issue_description %></li>
    <strong>
      <u><%= link_to "View Issue", user_project_issue_url(user_id: @current_user.id,
      project_id: @project.id, id: @issue.id) %></u>
    </strong>
  </ul>
  <p>
    Please review the issue and take appropriate actions. If you have any
    questions or need further clarification, feel free to reach out to us.

    Best regards,<br>
    <%= @current_user.first_name %>
  </p>
</body>
</html>
