<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>You have been removed from <%= @issue.subject %> issue in
  <%= @project.project_name %></h1>
  <p>
    Dear <%= @user.first_name %>,
  </p>
  <p>
    We regret to inform you that you have been removed as a participant from the
    issue "<%= @issue.subject %>" in the project <%= @project.project_name %>.
    If you have any questions or concerns, please feel free to reach out to us.
  </p>
  <p>
    Best regards,<br>
    <%= @current_user.first_name %>
  </p>
</body>
</html>
