<div class='side-button'>
  <h3>News</h3>
	<%= link_to new_user_project_news_path, class: 'new-button' do %>
		<i class='bi bi-plus-circle-fill'></i>
		Add News
	<% end %>
</div>
<% if @project.news.exists? %>
	<% @news.each do |news| %>
		<div class='news-item'>
			<strong><%= link_to news.news_title, user_project_news_path(
					user_id: news.project.user.id, project_id: news.project.id,
					id: news.id), class: 'news' %>
				<% if news.comments.exists? %>
				  (<%= news.comments.count %> Comments)
				<% end %>
			</strong>
			<p class='added-by'>Added by
				<%= news.news_added_by %>,
				<%= time_ago_in_words(news.created_at) %> ago
			</p>
			<p><%= news.news_content %></p>

			<%= link_to 'Edit', edit_user_project_news_path(id: news.id),
			  class: 'news-edit' %>
			<br />
			</div>
	<% end %>
<% else %>
  <p>No News Yet!</p>
<% end %>
