<%= form_with(model: @project.news.new, url: user_project_news_index_path(
  user_id: current_user.id, project_id: @project), local: true) do |form| %>

    <div class='form-group'>
      <%= form.label :news_title %>
      <%= form.text_field :news_title, class: 'form-control' %>
    </div>
    <br />

    <div class='form-group'>
      <%= form.label :news_content %>
      <%= form.rich_text_area :news_content, class: 'form-control' %>
    </div>
    <br />

    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.hidden_field :news_added_by, value: current_user.first_name %>

    <div class='actions'>
      <%= form.submit 'Save', class: 'btn btn-success' %>
    </div>

  <% end %>