<%= form_with(model: current_user.projects.wikis.new, url: user_projects_path(
  user_id: current_user.id), local: true) do |form| %>

  <div class='form-group'>
    <%= form.label :project_name %>
    <%= form.text_field :project_name, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :project_description %>
    <%= form.rich_text_area :project_description, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.label :indentifier %>
    <%= form.text_field :indentifier, class: 'form-control' %>
  </div>
  <br />

  <div class='form-group'>
    <%= form.check_box(:public) %>
    <%= form.label(:public, "Public") %>
  </div>
  <br />

  <div class='modules'>
    <div class='form-group'>
      <%= form.check_box(:issue_tracking) %>
      <%= form.label(:issue_tracking, "Issue Tracking") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:time_tracking) %>
      <%= form.label(:time_tracking, "Time Tracking") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:news) %>
      <%= form.label(:news, "News") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:documents) %>
      <%= form.label(:documents, "Documents") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:files) %>
      <%= form.label(:files, "Files") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:wiki) %>
      <%= form.label(:wiki, "Wiki") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:forums) %>
      <%= form.label(:forums, "Forums") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:calendar) %>
      <%= form.label(:calendar, "Calendar") %>
    </div>
    <div class='form-group'>
      <%= form.check_box(:gantt) %>
      <%= form.label(:gantt, "Gantt") %>
    </div>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class='actions'>
    <%= form.submit 'Create Project', class: 'btn btn-success' %>
  </div>

<% end %>
