<h3>Overview</h3>
<% if params[:project_id].present? %>
  <%= Project.find(params[:project_id]).project_name %>
<% end %>
<br />
<div class='table-border'>
  <div class='table-responsive'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th colspan='4'>
            <span class='bi bi-zoom-in'></span> Issue tracking
          </th>
        </tr>
        <tr>
          <th></th>
          <th>open</th>
          <th>closed</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Defect</td>
          <td><%= @issues.where(issue_resolved: false, tracker: 'Defect').count %></td>
          <td><%= @issues.where(issue_resolved: true, tracker: 'Defect').count %></td>
          <td><%= @issues.where(tracker: 'Defect').count %></td>
        </tr>
        <tr>
          <td>Feature</td>
          <td><%= @issues.where(issue_resolved: false, tracker: 'Feature').count %></td>
          <td><%= @issues.where(issue_resolved: true, tracker: 'Feature').count %></td>
          <td><%= @issues.where(tracker: 'Feature').count %></td>
        </tr>
        <tr>
          <td>Patch</td>
          <td><%= @issues.where(issue_resolved: false, tracker: 'Patch').count %></td>
          <td><%= @issues.where(issue_resolved: true, tracker: 'Patch').count %></td>
          <td><%= @issues.where(tracker: 'Patch').count %></td>
        </tr>
      </tbody>
    </table>

    <% if params[:project_id].present? %>
      <%= link_to 'View all issues', user_project_issues_path(user_id:
      current_user.id, project_id: params[:project_id]) %>
    <% end %>
  </div>
</div>
