<nav class='navbar navbar-expand-lg navbar-dark navbar-custom' id='top-menu'>
  <div class='container-fluid'>
    <%= link_to 'Home', static_pages_home_path, class: 'nav-link active' %>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent'
      aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to 'My Page', '#', class: 'nav-link active' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Projects', user_projects_path(user_id: current_user) , class: 'nav-link active' %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to 'Help', static_pages_help_path, class: 'nav-link active' %>
        </li>
      </ul>
      <ul class='navbar-nav ms-auto'>
        <% if user_signed_in? %>
          <li class='nav-items'>
            <%= link_to('#', class: 'nav-link active') do %>
              Logged in as <%= current_user.nick_name %>
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to 'My Account', edit_user_registration_path, class: 'nav-link active' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Sign Out', destroy_user_session_path,
              class: 'nav-link active', data: { turbo_method: 'delete',
              turbo_confirm: 'Are you sure?' } %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link active' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link active' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<nav id='header' >
  <span class='hearder-search d-flex'>
    <h1 class='current-project'>Redmine</h1>
    <div id='quick-search' class='d-flex'>
      <form class='d-flex'>
        <p class='search-btn' type='submit'>Search: </p>
        <input class='form-control me-2' id='q' type='search' aria-label='Search'>
        <input class='form-control me-1' id='q' type='search' aria-label='Search'>
      </form>
    </div>
    </span>
  <br />
  <div id='main-menu' class='tabs'>
    <ul>
      <li>
        <a class='overview' href='/projects/redmine'>Overview</a>
      </li>
      <li>
        <a class='download' href='/projects/redmine/wiki/Download'>Download</a>
      </li>
      <li>
        <a class='activity' href='/projects/redmine/activity'>Activity</a>
      </li>
      <li>
        <a class='roadmap' href='/projects/redmine/roadmap'>Roadmap</a>
      </li>
      <% if user_signed_in? && (
        project = current_user.projects.find_by(id: params[:id]) ||
        current_user.projects.find_by(id: params[:project_id])) %>
        <% if project.issue_tracking %>
          <li>
            <%= link_to 'Issues', user_project_issues_path(
              user_id: current_user.id, project_id: project.id) %>
          </li>
        <% end %>
        <% if project.project_news %>
          <li>
            <%= link_to 'News', user_project_news_index_path(
              user_id: current_user.id, project_id: project.id) %>
          </li>
        <% end %>
        <% if project.wiki %>
          <li>
            <%= link_to 'Wiki', user_project_wikis_path(
              user_id: current_user.id, project_id: project.id) %>
          </li>
        <% end %>
        <% if project.forums %>
          <li><a class='boards' href='/projects/redmine/boards'>Forums</a></li>
        <% end %>
      <% end %>
    </ul>
    <div class='tabs-buttons' style='display: none;'>
    </div>
  </div>
</nav>
