<nav class='navbar navbar-expand-lg navbar-dark navbar-custom' id='top-menu'>
  <div class='container-fluid'>
    <%= link_to 'Home', static_pages_home_path, class: 'nav-link active' %>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent'
      aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to 'My Page', user_path(id: current_user.id) ,
            class: 'nav-link active' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Projects', user_projects_path(user_id: current_user),
              class: 'nav-link active' %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to 'Help', static_pages_help_path, class: 'nav-link active' %>
        </li>
      </ul>
      <ul class='navbar-nav ms-auto'>
        <% if user_signed_in? %>
          <li class='nav-items'>
            <%= link_to('#', class: 'nav-link active') do %>
              Logged in as <%= current_user.nick_name %>
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to 'My Account', edit_user_registration_path,
            class: 'nav-link active' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Sign Out', destroy_user_session_path,
              class: 'nav-link active', data: { turbo_method: 'delete',
              turbo_confirm: 'Are you sure?' } %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link active' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Register', new_user_registration_path,
            class: 'nav-link active' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<nav id='header' >
  <span class='hearder-search d-flex'>
    <h1 class='current-project'>
      <% if user_signed_in? && params[:user_id].present? && current_project %>
        <% project = if params[:project_id].present?
                    Project.find_by(id: params[:project_id])&.project_name
                  elsif params[:id].present?
                    Project.find_by(id: params[:id])&.project_name
                  end %>
        <%= project ||  link_to('Redmine', root_path)  %>
      <% else %>
        <%= link_to 'Redmine', root_path %>
      <% end %>
    </h1>
    <% if user_signed_in? %>
      <div id='quick-search' class='d-flex'>
        <%= form_with(url: search_user_projects_path(user_id: current_user.id),
          method: :get, class: 'd-flex') do |form| %>
          <%= form.text_field :q, class: 'form-control me-2', placeholder:
          'Search projects', aria_label: 'Search' %>
          <%= form.submit 'Search', class: 'me-1 search-btn' %>
        <% end %>
      </div>
    <% end %>
  </span>
  <br />
  <div id='main-menu' class='tabs'>
    <ul>
      <li>
        <a class='download' href='/projects/redmine/wiki/Download'>Download</a>
      </li>
      <li>
        <% if user_signed_in? %>
          <% if params[:id].present? && current_project %>
            <%= link_to 'Overview', project_overview_path(project_view: true,
            user_id: current_user.id, id: params[:id] ) %>
          <% else %>
            <%= link_to 'Overview', overview_path(project_view: false) %>
          <% end %>
        <% end %>
      </li>
      <% if params[:user_id].present? %>
        <% if user_signed_in? && (project = current_user.projects.find_by(
          id: params[:id]) || current_user.projects.find_by(id:
          params[:project_id])) %>
          <li>
            <%= link_to 'Roadmap', project_roadmap_path(user_id: current_user.id,
            id: project.id ) %>
          </li>
          <li>
            <%= link_to 'Activity', project_activity_path(user_id: current_user.id,
            id: project.id ) %>
          </li>
          <% if project.issue_tracking %>
            <li>
              <%= link_to 'Issues', user_project_issues_path(
                user_id: current_user.id, project_id: project.id) %>
            </li>
          <% end %>
          <% if project.project_news %>
            <li>
              <%= link_to 'News', user_project_news_index_path(
                user_id: current_user.id, project_id: project.id) %>
            </li>
          <% end %>
          <% if project.wiki %>
            <li>
              <%= link_to 'Wiki', user_project_wikis_path(
                user_id: current_user.id, project_id: project.id) %>
            </li>
          <% end %>
          <% if project.forums %>
            <li><a class='boards' href='/projects/redmine/boards'>Forums</a></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class='tabs-buttons' style='display: none;'>
    </div>
  </div>
</nav>
